@model Book

<form method="post">
    @Html.AntiForgeryToken()

    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title"></span>

    <input asp-for="Author" class="form-control" />
    <span asp-validation-for="Author"></span>

    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price"></span>

    <input asp-for="Stock" class="form-control" />
    <span asp-validation-for="Stock"></span>

    <button class="btn btn-success">Ekle</button>
</form>