@model Book

<form method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />

    <input asp-for="Title" />
    <span asp-validation-for="Title"></span>

    <input asp-for="Author" />
    <span asp-validation-for="Author"></span>

    <input asp-for="Price" />
    <span asp-validation-for="Price"></span>

    <input asp-for="Stock" />
    <span asp-validation-for="Stock"></span>

    <button>Güncelle</button>
</form>